@keyframes upscale {
50%
    -webkit-transform: scale(1.5)
    transform: scale(1.5)
}

.wobble {
span
    display: inline-block
    pointer-events: none
span.upscale
    animation: upscale 0.5s 1
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(228, 158, 111);
    min-height: 2700px;
    max-width: 100%;
    overflow-x: hidden;
}

section {
    background-color: rgb(233, 197, 144);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(228, 158, 111), transparent);
    z-index: 10000;
}

section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#hills1 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0px;
    width:100%;
}

#hills2 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0px;
    left: 0px;
    width:100%;
    z-index: 2;
}

#name {
    z-index: 1;
}

@media only screen and (max-width:2000px) {

    body {
        font-family: sans-serif;
        align-items: flex-start;
        font-size: 10pt;
        font-weight: lighter;
      }


    #contact {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #email {
        font-family: sans-serif;
        color: rgb(0, 0, 0);
    }

    #phone {
        font-family: sans-serif;
        color: rgb(0, 0, 0);
    }
    
    h1,
    h2 {
        text-align: center;
        font-weight: lighter;
    }

    h1,
    h2,
    h3 {
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h2 {
        margin-bottom: 0.25em;
        border-bottom: black solid 1px;
        margin: 1rem 0;
        padding-bottom: 1rem;
        font-size: 6vw;
}

    h1 {
        font-size: 10vw;
        color: rgb(52, 103, 214);
    }

#name3 {
    font-family: sans-serif;
    font-size: 4em;
    margin-bottom: 2rem;
    padding: 2rem;
}

h1 {
    margin-bottom: 0.75em;
    }

#job-title {
    font-family: sans-serif;
    text-align: center;
    font-size: large;
}

    p {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0.5em;
    }
    
    .date-range {
    font-family: sans-serif;
    font-style: italic;
    }

}
